
#main_body {
	overflow:hidden;
	width:100%;
	min-width:990px;
}
#home {
	max-width:1076px;
	min-width:990px;
	height:300px;
	margin:auto;
	margin-top:45px;
	position:relative;
}

	

#pagination {
	list-style:none;
	position:absolute;	
	left:0;
	top:230px;
	z-index:0;
}
#pagination li {
	background:#FF4000;
	width:10px;
	height:10px;
	margin:3px;
	cursor:pointer;
	float:left;
}
#pagination li.active {
	background:#BFFF00;	
}



.featured_items li {
	width:212px;
	height:212px;
	overflow:hidden;
	background-repeat:no-repeat;
	position:absolute;
	z-index:1;
	top:0;
}
.featured_items li a {
	position:absolute;
	width:100%;
	height:100%;
	text-decoration:none;	
}
.featured_items {
	width:1076px;	
	list-style:none;
	height:212px;
	margin-bottom:4px;
	position:absolute;
	top:0px;
	display:none;
	left:50%;
	margin-left:-538px;
}
.featured_items li a .label {
	line-height:36px;
	background:url(../../images/template/transp_grey.png) repeat;
	position:absolute;
	top:13px;
	width:1px;
	overflow:hidden;
	font-size:17px;
	white-space:nowrap;
	padding:0 5px;	
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
 	filter: alpha(opacity=0);
	-moz-opacity: 0;
  	-khtml-opacity: 0;
  	opacity: 0;
}
.homeslot_1 .label,.homeslot_2 .label {
	right:0;	
}
.homeslot_3 .label, .homeslot_4 .label,.homeslot_5 .label{
	left:0;
}
.homeslot_1 { left:0;  }
.homeslot_2 { left:216px; }
.homeslot_3 { right:432px; }
.homeslot_4 { right:216px; }
.homeslot_5 { right:0; }

.featured_items li.right img { float:right; }
.featured_items li.left img { float:left; }

.shadow_1 { left:0; }
.shadow_2 { left:216px; }
.shadow_3 { left:432px; }
.shadow_4 { left:648px; }
.shadow_5 { left:864px; }




